developer/tests/xml/schemas/relax-ng/xar/modules/module.rng

<?xml version="1.0" encoding="iso-8859-1"?>
<grammar xmlns:xar="http://www.xaraya.com/2003/blocklayout"
         xmlns="http://relaxng.org/ns/structure/1.0">

  <!-- Module -->
  <define name="moduleTag">
    <element name="xar:module">
      <ref name="idAttr"/>
      <attribute name="name"><data type="string"/></attribute>
    </element>
  </define>

</grammar>
