tests/xml/schemas/relax-ng/xar/modules/loop.rng

<?xml version="1.0" encoding="iso-8859-1"?>
<grammar xmlns:xar="http://www.xaraya.com/2003/blocklayout"
         xmlns="http://relaxng.org/ns/structure/1.0">

  <!-- Loop -->
  <define name="loopTag">
    <element name="xar:loop">
      <ref name="idAttr"/>
      <attribute name="name"><data type="string"/></attribute>
      <choice>
        <ref name="escapableSeq"/>
        <ref name="nonchildTemplate"/>
      </choice>
    </element>
  </define>

</grammar>
